body {
	background-color: powderblue;
font: 12px 'Helvetica Neue', Helvetica, Arial, freesans, clean, sans-serif;
		color: #333; }

h1, h4 {
	text-align: center;
}

h1 {
    color: gray;
    font-family: georgia;
}

h4{
	color: black;
	font-family: palatino;
	font-style: italic;
}

aside {float:left;
	border:solid 2px black;
	width:20%;}

	article{ float:right;
	text-align:left}

section {
	clear:both;
	margin: 50px 1px;
}





